body {
    background-image: url('https://upload.wi                                                kimedia.org/wikipedia/commons/a/ac/SMU_Admin_Building.jpg');
    background-size: cover;
}

.submit {
    background: #151c55;
    color:rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

.card-panel {
    background-color: #151c55; color: white;
}

#student-selection {
    display: block;
}
